= render "shared/sidebar_add_activity"
.span8
  .hero-unit
    %h1 Add a new Activity
    = form_for @activity, html: {class: "form-horizontal"}, url: activities_path, method: :post do |f|
      .control-group
        .control-group
          =f.label :name, class: "control-label"
          .controls
            =f.text_field :name, class: "text", placeholder: "Name"
        .control-group
          =f.label :description, class: "control-label"
          .controls
            =f.text_area :description, class: "text", placeholder: "Name", rows: "3"
        .control-group
          =f.label :thematic, class: "control-label"
          .controls
            =f.text_field :thematic, class: "text", placeholder: "Name"
        .control-group
          =f.label :content, class: "control-label"
          .controls
            =f.text_area :content, class: "text", placeholder: "Description",rows: "5"
        .control-group
          .controls
            =f.submit "Create", class: "btn btn-primary"